.footer-content {
  color: var(--white);
  text-align: center;
  font-size: 15px;
}

.footer-logo {
  display: none;
}

.footer .social {
  justify-content: center;
}

@media screen and (min-width: 768px){

  .footer-logo {
    display: block;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .social {
    order: 3;
    padding: 0;
  }
}

@media screen and (min-width: 1024px){
  .footer-copyright {
    display: flex;
    gap: 8px;
  }

  .footer {
    padding-block-end: 40px;
  }
}