.opiniones {
  padding-block-start: 40px;
  padding-block-end: 80px;
}

.opiniones-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border-radius: 24px;
  border: 3.98px solid rgba(255,255,255,.4);
  background: rgba(255, 255, 255, 0.2);
}

.opiniones-p1 {
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.opiniones-p2 {
  font: var(--caption);
  margin: 0;
}

@media screen and (min-width: 768px){
  .opiniones-contenido {
    margin-block-start: 40px;
    margin-block-end: 40px;
    padding: 80px;
  }

  .opiniones-p1 {
    font-family: Oxygen;
    font-size: 34px;
    line-height: 55px;
    text-align: center;
  }

  .opiniones-p2 {
    font: var(--headline5);
    color: #595AC0;
  }
}